:root {
    --main-width: min(98vw, 1320px);
}
html,body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #f26418;
}
.content {
    height: 100%;
    width: var(--main-width);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1d3cc;
}
.banner {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: none;
    width: 40%;
    height: 100%;
    background-image: url(mak.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}
.logoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 138px;
    width: 100%;
    margin-top: min(25vh, 205px);
    background-color: rgba(247, 244, 226, 0.727);
   
}
.logo {
    width: auto;
    align-items: center;
    padding: 2px 2px 0 0;
    display: flex;
    
}
img {
    height: 110px;
}
h1 {
    font-family: url(SeratUltra-1GE24.ttf),'times new roman';
    font-size: 88px;
    font-weight: 100;
    margin: 0;
    padding: 2px 2px 0 0;
}
.logofooter {
    margin: auto 0 12px 0;
    font-size: 12px;
    color: #eec999
}
form {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    
}
.form-head {
    width: 100%;
    height: 340px;
    flex: 1;
    display: flex;
    align-items: flex-end;
}
.form-head > p {
    flex: 0 1 650px;
    padding: 2.5rem;
    margin: 16px 0;
    font-size: 1.3rem;
    font-weight: 600;
}
.cont {
    width: 100%;
    position: relative;

    /* border: 3px solid #f26418; */
   
}
.flex {
    display: flex;
    flex-direction: column;
    padding: 0 3rem .8rem;

}
.name, .email-phone, .password {
    display: flex;
    flex-wrap: wrap;
}
.name > div:first-of-type {
    margin: 0 4rem 0 0;
}
.email-phone > div:first-of-type {
    margin: 0 4rem 0 0;
}
.password > div:first-of-type{
    margin: 0 4rem 0 0;
}
strong {
    padding: 0 0 0 3rem;
}
label {
    position: absolute;
    font-size: .7rem;
    letter-spacing: .1rem;
}
input {
    outline: none;
    margin: 16px 0 24px;
    padding: .25rem;
    font-size: 1rem;
    border-radius: .25rem;
    box-shadow: none;
    border: 1px solid var(--light-grey);
}
.form-submit {
    width: 100%;
    flex: 1;
}
input {
    
    border: 2px solid #000;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color:#eec999;
  }
  
input:invalid {
    border-color: red;
  }
  
input:valid {
    border-color: green;
  }
.password div {
    display: flex;
    flex-wrap: wrap
}
.password > div:first-of-type {
    position: relative;
}
#passmatch {
    position: absolute;
    top: 36px;
    color: red;
    font-size: 1rem;
    
    
} 
.hidden {
    visibility: hidden;
} 
button {
    margin: 2rem 3rem;
    padding: .85rem 3rem;
    border: 4px solid rgb(83, 79, 79);
    border-radius: .5rem;
    background-color: rgb(243, 109, 7);
    color: #f3f1ee;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}
.login {
    margin: 0 3rem 1.5rem;
}
a {
    color:#f26418;
    text-decoration: none;
    font-weight: 600;
}

@media (max-width: 650px) {
    .content {
        flex-direction: column;
    }
    .banner {
        max-height: 250px;
        width: 100%;
    }
    .logoBox {
        margin-top: 50px;
    }
    .logofooter {
        margin: 45px 0 0 0;
    }
}

@media (max-width: 360px) {
    .logoBox {
        max-height: 150px;
    }
    .logo {
        margin-top: 10px;
    }
    .logofooter {
        margin: 5px 0 0 0;
    }
}

@media (max-width: 316px) {
    .form-head {
        min-height: 400px;
    }
}
